BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
InsertBraces: true
BreakBeforeBraces: Allman

AlwaysBreakAfterDefinitionReturnType: None
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

ColumnLimit: 100

PointerAlignment: Left
DerivePointerAlignment: true

SortIncludes: true

SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements

IndentCaseLabels: true

Cpp11BracedListStyle: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true

AllowAllParametersOfDeclarationOnNextLine: false